.user{
    text-align: center;
    border:4px solid lightblue;
    border-radius: 10px;
    background-color: lightcyan;
}

.user button{
    border:none;
    margin:20px 10px 20px 10px;
    border-radius: 3px;
    background-color: #0e8fa4;
    color: white;
    cursor: pointer;
    width:40px;
}

.userLogout {
    display: flex;
    justify-content: flex-end;  
}

.userLogout h3{
    margin-top:20px;
}

.tabs {
    display: flex;
}

.tabs button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    border:none;
    background-color: #f0f0f0;
    width: 100%;
}

.tabs button.active {
    background-color: #0e8fa4;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin:25px;
    padding:20px;
}

.course-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100px;
}

.course-card button {
    align-self: flex-end;  
    border: 1px solid black;
    border:none;
    border-radius: 3px;
    padding: 8px 12px;
    background-color: #0e8fa4;
    color: white;
    cursor: pointer;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 14px;
    color: #555;
}


