/* App.css or any other CSS file */
.app-container {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Horizontally center the loader */
    align-items: center; /* Vertically center the loader */
    background-color: #f0f0f0; /* Optional: Add a background color */
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .display{
    margin-top:60px;
    display: flex;
    gap:50px;
    flex-wrap: wrap;
    justify-content: center;
  }