.signup-container {
    border: 3px solid #fff;
    background: #fff;
    border-radius: 10px;
    width: 600px;
    height: 540px;
    text-align: center;
    margin-left: 350px;
    margin-top: 20px;
    opacity: 0.89;
    overflow: auto;
}

.signup-container input {
    border: 1px solid #999;
}

.signup-container p{
    color:black;
}
.container {
    background: url("../../assets/tring_lms_logo.png");
    background-size: cover;
    position: absolute;
    height:100%;
    width:100%;
}

#signup{
    text-align: center;   
    color: #0e8fa4;
}

input {
    border: 1px solid #999;
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
}

.signup_btn {
    display: block;
    margin-left:260px;
    margin-bottom: 10px;
    border: 1px solid #999; 
    border-radius: 10px;
    font-weight: bold;
    width:78px;
    height:40px;
    cursor: pointer;
    padding:10px;
    background-color: #0e8fa4;
    color: #fff;

}

.password-eye-icon {
    position: absolute;
    right: 420px; 
    top: 52%;
    cursor: pointer;
    font-size: 20px;  
}

.errors
{
    display: block;
    color:red;
    text-align: left;
    margin-left:100px;
    margin-top:5px;
}


